################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/helloworld/.vs/helloworld/v16/Server/sqlite3
/helloworld/helloworld/obj/Debug
